page-eventos {

}

.background-page{
    background: #6a1b9a;
}

.iconsad{
    position: relative;
    margin-left: 20%;
    margin-top: 10%;
    font-size: 15em;
}

.textsad{
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin: 10%;
}