<div class="modal" [style.background-image]="getBackground((modal | async)?.img )">
  <ion-content padding class="container">
    <div class="header" >
      <ion-icon class="back" name="arrow-back" (click)="closeModal()"></ion-icon>
    </div>
    <button ion-button icon-only > <ion-icon ios="ios-heart-outline" md="md-heart-outline" class="favorite" *ngIf= "isliked((modal | async)?.id)=true"></ion-icon>
    </button>
    <div class="header-text">
      <h1 class="title">{{ (modal | async)?.titulo }}</h1>
      <h5 class="desc1">{{ (modal | async)?.desc1 }} </h5>
      <h6 class="desc2">{{ (modal | async)?.desc2 }} </h6>
    </div>
    <div *ngFor="let item of (modal | async)?.cuboss">
      <br>
      <div [innerHTML]="imprimirHtml(item)"></div>
    </div>
  </ion-content>
</div>